{% extends 'basic.html' %} {% block title %}Book Room {% endblock title %} {% block body %}
<style>
    .book-btn {
        background-color: green;
    }
    .book-btn-red {
        background-color: red ;
    }
</style>

<div class="container">
    <div class="container">
        <div class="row" >
            <div class="col-sm">
              One of two columns
            </div>
            <div class="col-sm">
                <label for="birthday">Date:</label>
                <input type="date" id="birthday" name="birthday">
            </div>
          </div>
    </div>
    <div class="container">
        <div class="row" style="margin-top:3em;">
            <div class="col-sm">
                <div class="card">
      <div class="card-body" color = "gray">
        <h5 class="card-title">Slot 1</h5>
        <p class="card-text">Time: 10:00am - 11:00am</p>
        {% comment %} <a href="#" class="btn btn-primary">Book</a> {% endcomment %}
        <a href="#" class="btn book-btn">Book</a>

      </div>
    </div>
            </div>
            <div class="col-sm">
                <div class="card">
      <div class="card-body">
        <h5 class="card-title">Slot 2</h5>
        <p class="card-text">Time: 11:00am - 12:00pm</p>
        {% comment %} <a href="#" class="btn btn-primary">Book</a> {% endcomment %}
        <a href="#" class="btn book-btn">Book</a>

      </div>
    </div>
            </div>
            <div class="col-sm">
                <div class="card">
      <div class="card-body">
        <h5 class="card-title">Slot 3</h5>
        <p class="card-text">Time: 12:00pm - 01:00pm</p>
        {% comment %} <a href="#" class="btn btn-primary">Book</a> {% endcomment %}
        <a href="#" class="btn  book-btn">Book</a>

      </div>
    </div>
            </div>
            <div class="col-sm">
                <div class="card">
      <div class="card-body">
        <h5 class="card-title">Slot 4</h5>
        <p class="card-text">Time: 01:00pm- 02:00pm</p>
        {% comment %} <a href="#" class="btn btn-primary">Book</a> {% endcomment %}
        <a href="#" class="btn book-btn">Book</a>

      </div>
    </div>
            </div>
        </div>
        <div class="row" style="margin-top:3em;">
            <div class="col-sm">
                <div class="card">
      <div class="card-body">
        <h5 class="card-title">Slot 5</h5>
        <p class="card-text">Time: 02:00pm- 03:00pm </p>
        {% comment %} <a href="#" class="btn btn-primary">Book</a> {% endcomment %}
        <a href="#" class="btn book-btn">Book</a>

      </div>
    </div>
            </div>
            <div class="col-sm">
                <div class="card">
      <div class="card-body">
        <h5 class="card-title">Slot 6</h5>
        <p class="card-text">Time: 03:00pm- 04:00pm </p>
        {% comment %} <a href="#" class="btn btn-primary">Book</a> {% endcomment %}
        <a href="#" class="btn  book-btn">Book</a>

      </div>
    </div>
            </div>
            <div class="col-sm">
                <div class="card">
      <div class="card-body">
        <h5 class="card-title">Slot 7</h5>
        <p class="card-text">Time: 04:00pm- 05:00pm </p>
        {% comment %} <a href="#" class="btn btn-primary">Book</a> {% endcomment %}
        <a href="#" class="btn  book-btn">Book</a>

      </div>
    </div>
            </div>
            <div class="col-sm">
                <div class="card">
      <div class="card-body">
        <h5 class="card-title">Slot 8</h5>
        <p class="card-text">Time: 05:00pm- 06:00pm </p>
        {% comment %} <a href="#" class="btn btn-primary">Book</a> {% endcomment %}
        <a href="#" class="btn  book-btn">Book</a>

      </div>
    </div>
            </div>
        </div>
        <div class="row" style="margin-top:3em;">
            <div class="col-sm">
                <div class="card">
      <div class="card-body">
        <h5 class="card-title">Slot 9</h5>
        <p class="card-text">Time: 06:00pm- 07:00pm </p>
        {% comment %} <a href="#" class="btn btn-primary">Book</a> {% endcomment %}
        <a href="#" class="btn  book-btn">Book</a>

      </div>
    </div>
            </div>
            <div class="col-sm">
                <div class="card">
      <div class="card-body">
        <h5 class="card-title">Slot 10</h5>
        <p class="card-text">Time: 07:00pm- 08:00pm </p>
        {% comment %} <a href="#" class="btn btn-primary">Book</a> {% endcomment %}
        <a href="#" class="btn book-btn">Book</a>

      </div>
    </div>
            </div>
            <div class="col-sm">
                <div class="card">
      <div class="card-body">
        <h5 class="card-title">Slot 11</h5>
        <p class="card-text">Time: 08:00pm- 09:00pm </p>
        {% comment %} <a href="#" class="btn btn-primary">Book</a> {% endcomment %}
        <a href="#" class="btn  book-btn">Book</a>

      </div>
    </div>
            </div>
            <div class="col-sm">
                <div class="card">
      <div class="card-body">
        <h5 class="card-title">Slot 12</h5>
        <p class="card-text">Time: 09:00pm- 10:00pm </p>
        {% comment %} <a href="#" class="btn btn-primary">Book</a> {% endcomment %}
        <a href="#" class="btn  book-btn">Book</a>

      </div>
    </div>
            </div>
        </div>

    </div>
    <div>

    </div>
     <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        // Use jQuery to add a click event listener to all buttons with class 'book-btn'
        $(document).on('click', '.book-btn', function() {
            // Add the 'book-btn-red' class to change the background color to red
            $(this).addClass('book-btn-red');
        });
    </script>
</div>
{% endblock body %}